#headName{
		height: 30px;
		width: 90px;
		background: url("../images/general/name.png")no-repeat;
		margin-left: 120px;
		margin-top: 4px;
	}
#main_header{
	background:$colorK;
	background:rgba(51,51,51,0.9);
	height: 40px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	#rButton{
		height: 40px;
		width: 40px;
		overflow: hidden;
		background:url("../images/general/rButton.png") no-repeat bottom;
		&.btn_close{
			background:url("../images/general/rButton.png") no-repeat top;
		}
	}
	h1{
		position: absolute;
		font-size: 16px;
		color: $colorW;
		height: 40px;
		top: 0;
		left: 0;
		img{
			position: absolute;
			top: 0;
			left: 0;
		}
		span{
			position: absolute;
			top: -200px;
		}
	}
	#user_info{
		text-transform: uppercase;
		font-size: .8em;
		color: $colorW;
		position: absolute;
		right: 5px;
		top: 0;
		&>div, &>nav{
			float: left;
			margin-left: .5em;
			margin-top: 17px;
		}
		.date{
			margin-right: 1em;
		}
		#exit{
			margin-top: 0;
		}
	}
	#lang{
		display: inline;
		cursor: pointer;
		color: $colorW;
		text-transform: uppercase;
		text-align: right;
		.txt{
			display: block;
			padding-right: 1.5em;
			background:url("../images/icons/icons_onoff_w.png") no-repeat right top;
		}
		ul{
			display: none;
			padding-top:1em;
			position: absolute;
		}
		li{
			@include shadow;
			background:$colorW;
			color: $colorG;
			a{
				padding: .5em 1em;
				border-bottom: 1px solid $colorG;
				text-align: left;
				display: block;
			}
		}
	}
	#exit{
		a{
			overflow: hidden;
			width: 40px;
			height: 40px;
			display: block;
			background: url("../images/general/exit.png") no-repeat;
			
			span{
				color: $colorW;
				position: absolute;
				top: -100px;
			}
		}
	}
}
#header_g{
	position: relative;
	clear: both;
	height: 3em;
	position: relative;
	#breadcrumb{
		li{
			float: left;
			margin-right: .5em;
			a:after{
				content: " > ";
			}
		}
	}
	.botonera{
		position: absolute;
		right: 0;
		top: 3em;
		li{
			float: left;
			margin-left: .5em;
		}
		.btn{
			margin-right: 0;
			margin-left: .5em;
		}
	}
}