#iframe{
	background:$colorW;
	#main{
		border-top: 0;
		margin-left: 0;
		.box{
			padding-top: 5em;
			position: relative;
			h1{
				position: fixed;
				color: $colorW;
				background:$colorG;
				width: 100%;
				top: 0;
				left: 0;
				padding: .5em;
				z-index: 2;
			}
		}
		&.installation{
			.content{
				margin-right: 2em;
			}
			iframe{
				border:5px solid $colorK4;
			}
			li{
				overflow: hidden;
				margin-bottom: .5em;
			}
			label{
				width: 38%;
				margin-left: 2%;
				display: block;
				float: left;
			}
			input[type="text"]{
				width: 47%;
			}
			input.withbutton{
				width: 25%;
				float: left;
			}
			.message{
				clear: both;
				float: right;
				padding: 2%;
				margin-left: 44%;
			}
		}
	}
}