.box_list{
	margin: 1em 0;
	a{
		display: block;
		padding: 1em;
		border:1px solid $colorK3;
		background:$colorW;
		overflow: hidden;
		@include border-radius(4px);

		img{
			width: 150px;
			float: left;
			margin: 0 1em 1em 0;
			border: 1px solid $colorK3;
		}
		&:hover{
		background:$colorG5;
		text-decoration: none;
		@include shadow();
	}
	}
}