body{
	background: $colorW url("../images/general/bg_body.png") repeat-y;
	color: $colorK1;
	font-family: Arial, Sans-Serif;
	font-size: .8em;
}
a{
	@include transitionAll;
	color:$colorG;
	text-decoration: none;
	outline: none;
	&:hover{
		text-decoration: underline;
	}
}
p{
	margin: .5em 0;
	line-height: 1.5em;
}
#main{
	padding: 16px 35px;
	border-top: 40px solid $colorK1;
	margin-left: 90px;
	background:$colorW;
	min-height: 300px;
	position: relative;
	h1{
		font-size: 2.2em;
		color: $colorG;
		margin-bottom: 1em;
		font-weight: normal;
	}
	h2{
		@extend h1;
		font-size: 2em;
	}
	h3{
		@extend h1;
		font-size: 1.5em;
	}
	h4{
		@extend h1;
		font-size: 1.2em;
	}
	h5{
		@extend h1;
		font-size: 1em;
		font-weight: bold;
	}
}
.left{
	float: left;
}
.right{
	float: right;
}
.pagination{
	overflow: hidden;
	margin: 2em auto;
	width: 400px;
	div{
		float: left;
		margin-right: 1em;
	}
	ul{
		float: left;
	}
	li{
		float: left;
		margin-right: .2em;
		a{
			display: block;
			padding: 0 .5em;
			&:hover{
				background-color: $colorK1;
				text-decoration: none;
				color: $colorW;
			}
		}
	}
}
strong{
	font-weight: bold;
}
.hidden, .hide{
	display: none;
}