div.summaryContent {
	width: 500px;
	height : 350px;
	overflow-x: hidden;
	overflow-y: auto;
}

#main .summaryContent .action_box.data .ul_data {
	width : 100%;
}

form#newWidgetForm .row select {
	width: 225px;	
}

.timeline-copyright{
  display:none;
}

.history_legend{ 
  padding: .5em 0;
  .legend{
    overflow: hidden;
    margin: 1em 0;
    li{
      float: left;
      margin-right: 1em;
    }
  }
}
.timeline-band-scrollbar{
  display: none !important;
}

div#terminalsMap {
	height : 600px;
	width  : 100%;
	margin-left: auto;
  	margin-right: auto;
}

div.summaryContent {
	width: 500px;
	height : 350px;
}

#main .summaryContent .action_box.data .ul_data {
	width : 100%;
}

.columns_botonera ul .mapa a {
  background: url("../images/icons/icons_column.png") no-repeat -120px 0;
}

/* line 409, ../sass/_icons.scss */
.columns_botonera ul .mapa.current a {
  background-position: -120px -20px;
}


.tab_buttons {
  position: relative;
  height: 3em;
}
 
#main .action_box.data .ul_data, #cboxContent .action_box.data .ul_data, #main .data.pagination .ul_data, #cboxContent .data.pagination .ul_data, #main .action_box.data .ul_data_wide, #cboxContent .action_box.data .ul_data_wide, #cboxContent .data.pagination .action_box.data .ul_data_wide, #cboxContent .action_box.data .data.pagination .ul_data_wide, #main .data.pagination .ul_data_wide, #cboxContent #main .data.pagination .ul_data_wide, #main #cboxContent .data.pagination .ul_data_wide, #cboxContent .action_box.data .data.pagination .ul_data_wide, #cboxContent .data.pagination .action_box.data .ul_data_wide, #main #cboxContent .data.pagination .ul_data_wide, #cboxContent #main .data.pagination .ul_data_wide, #cboxContent .data.pagination .ul_data_wide, #cboxContent .action_box.data .ul_data, #cboxContent .data.pagination .ul_data, #cboxContent .action_box.data .ul_data_wide, #cboxContent .data.pagination .action_box.data .ul_data_wide, #cboxContent .action_box.data .data.pagination .ul_data_wide, #cboxContent #main .data.pagination .ul_data_wide, #main #cboxContent .data.pagination .ul_data_wide, #cboxContent .action_box.data .data.pagination .ul_data_wide, #cboxContent .data.pagination .action_box.data .ul_data_wide, #cboxContent .data.pagination .ul_data_wide, #main .data.pagination .ul_data, #cboxContent .data.pagination .ul_data, #cboxContent .data.pagination #main .action_box.data .ul_data_wide, #main .data.pagination #cboxContent .action_box.data .ul_data_wide, #cboxContent .data.pagination .action_box.data .ul_data_wide, #cboxContent .action_box.data .data.pagination .ul_data_wide, #main .data.pagination .ul_data_wide, #cboxContent #main .data.pagination .ul_data_wide, #main #cboxContent .data.pagination .ul_data_wide, #main #cboxContent .data.pagination .ul_data_wide, #cboxContent #main .data.pagination .ul_data_wide, #cboxContent .data.pagination .ul_data_wide, #cboxContent .data.pagination .ul_data, #cboxContent .data.pagination .action_box.data .ul_data_wide, #cboxContent .action_box.data .data.pagination .ul_data_wide, #cboxContent #main .data.pagination .ul_data_wide, #main #cboxContent .data.pagination .ul_data_wide, #cboxContent .data.pagination .ul_data_wide {
	width: 60%;
}

legend.map {
    font-size: 1em;
    margin: 1em 0;
    text-align: left;
    overflow: hidden;
    li{
      float: left;
    }
    margin-right: 1em;

}
.timelineZoom{
  width: 21px;
  height: 21px;
  display: block;
  float: right;
  margin-left: 1em;
  &.on{
    background: url("../images/icons/lupa_mas.png") no-repeat;
  }
  &.off{
    background: url("../images/icons/lupa_menos.png") no-repeat;
  }
}
