@media screen and (max-width: 1200px) {
	#dashboard{
		#columns{
			.column4{
				display: none;
			}
		}
		#sortable.column4 li.ui-state-default{
			width:29%;
		}
	}
}
@media screen and (max-width: 800px) {
// Generales
	#login_user #login_box{
	     //max-width: 100%;
	}
	#rButton{
		display: block;
		cursor: pointer;
	}
	#main_header{ 
		h1{
			left: 40px;
			strong{
				left: 85px;
				font-size: 1.2em;
				top: 10px;
			}
		}
		#user_info{
			right: 5px;
			margin-left: 0;
			.welcome, .date{
				display: none;
			}
		}
		#lang ul{
			right: 0;
			a{
				font-size: 1.5em;
			}
		}
	}
	#main_nav{
		display: none;
	}
	#main{
		font-size: 1.5em;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 5%;
		width: 90%;
		z-index: 999;
	}
// por SECCION
	#dashboard{
		#columns{
			.column3{
				display: none;
			}
		}
		#sortable.column3 li.ui-state-default, #sortable.column4 li.ui-state-default{
			width:46%;
		}
	}
}