
table{
	width: 100%;
	margin: .5em 0;
	border: 1px solid $colorK4;
	th{
		background:$colorG;
		color:$colorW;
		border-right: 1px solid $colorW;
		&.order{
			background:url("../images/colunm_order.png") $colorG no-repeat right top;
			padding-right: 2em;
			&.bottom{
				background:url("../images/colunm_order.png") $colorK1 no-repeat right -40px;
			}
			&.top{
				background:url("../images/colunm_order.png") $colorK1 no-repeat right -80px;
			}
		}
	}
	th:last-child{
		border-right: none;
	}
	th,td{
		padding: .8em;
		border: 1px solid $colorK4;
		border-collapse: collapse;
		position: relative;
		vertical-align: top;
		&.note_detail{
			&:hover{
				color: $colorK1;
			}
			border-bottom: 2px solid $colorY3;
			border-left:  2px solid $colorY3;
			border-right:  2px solid $colorY3;
			background:$colorY3;
			float: none;
			padding: 1em;
			div{
				position: relative;
				background:$colorW;
				padding: 1em;
				@include border-radius(4px);
				&:after {
				    content: "";
				    position: absolute;
				    top: -20px;
				    left: 105px;
				    border-width: 0 15px 25px;
				    border-style: solid;
				    border-color: $colorW transparent;
				    display: block;
				    width: 0;
				  }	
				@include shadow;
				li{
					border-bottom: 2px dotted $colorK4;
					margin-bottom: 1em;
				}
				li:last-child{
					border: none;
					margin-bottom: 0;
				}
			}
		}
	}
	tr{
		&:nth-child(2n+1) {
			background: $colorK5;
		}
		&.active{
			background:$colorY3;
			border-top: 2px solid $colorY3;
			border-left:  2px solid $colorY3;
			border-right:  2px solid $colorY3;
		}
	}
	div{
		position: relative;
	}
	.editable{
		padding-right: 4em;
	}
	// show detail
	tr.showdetail.open{
		background:$colorK3;
		border:1px solid $colorK3;
		td{
			border:1px solid $colorK3;
		}
		&:hover{
			background:$colorK3;
			color: $colorK1;
		}
	}
	tr.detail{
		background:$colorK3;
		td{
			border:1px solid $colorK3;
		}
		ul{
			padding: 1%;
			background:$colorW;
			overflow: hidden;
			li{
				float: left;
				width: 32%;
				margin-right: 1%;
				padding: .5em 0;
				border-bottom: 1px solid $colorK3;
				strong{
					width: 30%;
					display: block;
					float: left;
					text-align: right;
					margin-right: 1em;
				}
			}
			&:after {
		    content: "";
		    position: absolute;
		    top: -20px;
		    left: 45px;
		    border-width: 0 15px 25px;
		    border-style: solid;
		    border-color: $colorW transparent;
		    display: block;
		    width: 0;
		  }
		}
		&:hover{
			background:$colorK3;
			color:inherit;
		}
	}
	&.query-form{
		border:1px solid $colorW;
		margin-bottom: 2em;
		tr{
			border:1px solid $colorW;
			border-bottom: 2px dotted $colorK5;
			background: $colorW;
			&:hover{
				cursor: inherit;
				border:1px solid $colorW;
				border-bottom: 2px dotted $colorK5;
			}
			&:nth-child(2n+1) {
				background: $colorW;
			}
		}
		td:first-child{
			width:30%;
		}
		td:nth-child(2){
			width: 3em;
		}
		th{
			border:1px solid $colorW;
			border-bottom: 2px solid $colorG;
			color: $colorG;
			background:$colorW;
			&:hover{
				cursor: inherit;
				border:1px solid $colorW;
				border-bottom: 2px solid $colorG;
			}
		}
		td{
			background:$colorW;
			border:1px solid $colorW;
			&:hover{
				background:$colorW;
				border:1px solid $colorW;
			}
			&.btn_add{
				border:1px solid $colorW;
			}
			&.btn_add .btn{
				float: right;
			}
		}
	}
	&.link{
		tr{
			cursor: pointer;
			&:hover{
				background:$colorK4;
				color: $colorW;
				border: 1px solid $colorW;
			}
		}
	}
}