<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.ncr.ATMMonitoring.pojo.User" />
        <mapping class="com.ncr.ATMMonitoring.pojo.Role" />
        <mapping class="com.ncr.ATMMonitoring.pojo.Terminal" />
        <mapping class="com.ncr.ATMMonitoring.pojo.Software" />
        <mapping class="com.ncr.ATMMonitoring.pojo.SoftwareAggregate" />
        <mapping class="com.ncr.ATMMonitoring.pojo.FinancialDevice" />
        <mapping class="com.ncr.ATMMonitoring.pojo.HardwareDevice" />
        <mapping class="com.ncr.ATMMonitoring.pojo.TerminalConfig" />
        <mapping class="com.ncr.ATMMonitoring.pojo.XfsComponent" />
        <mapping class="com.ncr.ATMMonitoring.pojo.LogicalCashUnit" />
        <mapping class="com.ncr.ATMMonitoring.pojo.PhysicalCashUnit" />
        <mapping class="com.ncr.ATMMonitoring.pojo.Hotfix" />
        <mapping class="com.ncr.ATMMonitoring.pojo.InternetExplorer" />
        <mapping class="com.ncr.ATMMonitoring.pojo.OperatingSystem" />
        <mapping class="com.ncr.ATMMonitoring.pojo.Query" />
        <mapping class="com.ncr.ATMMonitoring.pojo.ScheduledUpdate" />
    </session-factory>
         
</hibernate-configuration>