.box_list{
	margin: 1% 0 0 1%;
	a{
		display: block;
		padding: 1em;
		border:1px solid $colorB5;
		background:$colorB6;
		overflow: hidden;
		@include border-radius(4px);

		img{
			width: 150px;
			float: left;
			margin: 0 1em 1em 0;
			border: 1px solid $colorK5;
		}
		&:hover{
			background:$colorB5;
			text-decoration: none;
			@include shadow();
		}
		p{
			color: $colorK1;
		}
	}
}
.column3 .box_list{
	float: left;
	width: 32%;
	a{
		height: 17em;
		overflow-y:auto;
	}
}