/* line 17, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1,
.colorbox_box h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_forms.scss */
.botonera {
  overflow: hidden;
  clear: both;
  margin: 1em 0;
}
/* line 5, ../sass/_forms.scss */
.botonera .btn, .botonera input[type="submit"], .botonera button {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}
/* line 10, ../sass/_forms.scss */
.botonera .request {
  float: left;
}

/* line 14, ../sass/_forms.scss */
.btn, input[type="submit"], input[type="reset"], button {
  border: 2px solid #cccccc;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  font-weight: normal;
  font-size: 1em;
  background: #6ca932;
  float: left;
  margin-right: 1em;
  padding: 0.5em 1em;
  display: block;
  cursor: pointer;
  width: inherit;
}
/* line 28, ../sass/_forms.scss */
.btn:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
  text-decoration: none;
  background: white;
  color: #6ca932;
}
/* line 33, ../sass/_forms.scss */
.row .btn, .row input[type="submit"], .row input[type="reset"], .row button {
  float: none;
  display: inline;
  margin: 0;
  margin-left: 1em;
}
/* line 39, ../sass/_forms.scss */
.btn.cancel, input[type="submit"].cancel, input[type="reset"].cancel, button.cancel {
  background: #e14f3c;
  color: white;
}
/* line 42, ../sass/_forms.scss */
.btn.cancel:hover, input[type="submit"].cancel:hover, input[type="reset"].cancel:hover, button.cancel:hover {
  text-decoration: none;
  background: #333333;
  color: white;
}
/* line 48, ../sass/_forms.scss */
.btn.left, input[type="submit"].left, input[type="reset"].left, button.left {
  float: left;
  margin-left: 0;
  margin-right: 1em;
}
/* line 53, ../sass/_forms.scss */
.btn.right, input[type="submit"].right, input[type="reset"].right, button.right {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}

/* line 59, ../sass/_forms.scss */
input, select, area, label {
  font-size: 1em;
  padding: 0.5em 1em;
  vertical-align: middle;
}

/* line 64, ../sass/_forms.scss */
select {
  margin: 0.5em 1em;
}

/* line 67, ../sass/_forms.scss */
label {
  display: block;
  float: left;
  text-align: right;
  padding: .8em;
}
/* line 72, ../sass/_forms.scss */
.colorbox_box label {
  width: 25%;
}

/* line 76, ../sass/_forms.scss */
.label {
  margin: .8em;
}

/* line 79, ../sass/_forms.scss */
.row {
  margin: 1em 0;
  padding: 1em 0;
  overflow: hidden;
}
/* line 83, ../sass/_forms.scss */
.row .left {
  float: left;
}
/* line 86, ../sass/_forms.scss */
.row .right {
  float: right;
}
/* line 89, ../sass/_forms.scss */
.colorbox_box .row input[type="text"], .row area {
  width: 70%;
}
/* line 92, ../sass/_forms.scss */
.row li {
  float: left;
  width: auto;
  white-space: nowrap;
}
/* line 96, ../sass/_forms.scss */
.row li label {
  width: auto;
}

/* line 101, ../sass/_forms.scss */
input:disabled {
  background: #cccccc;
  color: white;
  border: 1px solid #b3b3b3;
}
/* line 105, ../sass/_forms.scss */
input:disabled:hover {
  background: #cccccc;
  color: white;
  border: 1px solid #b3b3b3;
  cursor: inherit;
}

/* line 1, ../sass/_icons.scss */
.icons_bg {
  display: none;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 2px 2px 5px #b3b3b3;
  -moz-box-shadow: 2px 2px 5px #b3b3b3;
  box-shadow: 2px 2px 5px #b3b3b3;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 73px;
  height: 32px;
  z-index: 1;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 15, ../sass/_icons.scss */
.close {
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: url("../images/close.png") no-repeat;
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  z-index: 2;
  cursor: pointer;
}
/* line 26, ../sass/_icons.scss */
.close span {
  position: absolute;
  top: 2em;
}

/* line 31, ../sass/_icons.scss */
.icons_menu {
  position: absolute;
  top: 8px;
  right: 30px;
  width: 35px;
  height: 20px;
  z-index: 2;
}
/* line 38, ../sass/_icons.scss */
.icons_menu ul {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 2em;
}
/* line 45, ../sass/_icons.scss */
.icons_menu ul a {
  display: block;
  color: white;
  padding: 0.5em 1em;
  border-bottom: 1px solid #cccccc;
  background: #6ca932;
  -webkit-box-shadow: 2px 2px 5px #b3b3b3;
  -moz-box-shadow: 2px 2px 5px #b3b3b3;
  box-shadow: 2px 2px 5px #b3b3b3;
}
/* line 52, ../sass/_icons.scss */
.icons_menu ul a:hover {
  text-decoration: none;
  background: #b3b3b3;
}
/* line 57, ../sass/_icons.scss */
.icons_menu ul li:last-child a {
  border: none;
}

/* line 62, ../sass/_icons.scss */
.icon16 {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
/* line 69, ../sass/_icons.scss */
.icon16 span {
  position: absolute;
  top: -40px;
}
/* line 73, ../sass/_icons.scss */
.icon16.config {
  background: url("../images/icons/icons.png") no-repeat 0 -20px;
  cursor: pointer;
}
/* line 77, ../sass/_icons.scss */
.icon16.config.content_hide {
  background: url("../images/icons/icons.png") no-repeat 0 0;
}
/* line 79, ../sass/_icons.scss */
.icon16.config.content_hide:hover {
  background: url("../images/icons/icons.png") no-repeat 0 0;
}

/* line 84, ../sass/_icons.scss */
.add {
  background: url("../images/icons/icon_add.png") no-repeat left bottom #6ca932;
  padding-left: 35px;
}
/* line 87, ../sass/_icons.scss */
.add:hover {
  background: url("../images/icons/icon_add.png") no-repeat left top white;
}

/* line 91, ../sass/_icons.scss */
.clock {
  background: url("../images/icons/icon_clock.png") no-repeat left bottom #6ca932;
  padding-left: 35px;
}
/* line 94, ../sass/_icons.scss */
.clock:hover {
  background: url("../images/icons/icon_clock.png") no-repeat left top white;
}

/* line 98, ../sass/_icons.scss */
.next {
  background: url("../images/icons/icon_next.png") no-repeat left bottom #6ca932;
  padding-left: 35px;
}
/* line 101, ../sass/_icons.scss */
.next:hover {
  background: url("../images/icons/icon_next.png") no-repeat left top white;
}

/* line 106, ../sass/_icons.scss */
.info {
  width: 25px;
  height: 25px;
  background: url("../images/icons/icon_info.png") no-repeat top left;
  padding-left: 2em;
  overflow: hidden;
  position: relative;
  display: inline;
  cursor: pointer;
  cursor: help;
}
/* line 116, ../sass/_icons.scss */
.info:hover {
  background: url("../images/icons/icon_info.png") no-repeat bottom left;
}
/* line 119, ../sass/_icons.scss */
.info span {
  display: block;
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

/* line 127, ../sass/_icons.scss */
.icons_action {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}
/* line 132, ../sass/_icons.scss */
.icons_action .note, .icons_action .edit, .icons_action .delete {
  background: url("../images/icons/icon_note.png") no-repeat;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: block;
  cursor: help;
  margin-left: 2px;
  float: left;
}
/* line 141, ../sass/_icons.scss */
.icons_action .note span, .icons_action .edit span, .icons_action .delete span {
  display: block;
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}
/* line 148, ../sass/_icons.scss */
.icons_action .note:hover, .icons_action .edit:hover, .icons_action .delete:hover {
  background-position-y: -20px;
}
/* line 152, ../sass/_icons.scss */
.icons_action .edit {
  background-position: -40px 0;
  cursor: pointer;
}
/* line 157, ../sass/_icons.scss */
.icons_action .delete {
  background-position: -20px 0;
  cursor: pointer;
}

/* line 163, ../sass/_icons.scss */
.download {
  background: url("../images/icons/icon_download.png") no-repeat top left transparent;
  border: none;
  color: #6ca932;
  padding-left: 35px;
}
/* line 168, ../sass/_icons.scss */
.download:hover {
  background: url("../images/icons/icon_download.png") no-repeat top left transparent;
  background-color: transparent;
  text-decoration: underline;
}

/* line 174, ../sass/_icons.scss */
.update, .btn.update {
  background: url("../images/icons/icon_update.png") no-repeat bottom left #6ca932;
  padding-left: 35px;
}
/* line 177, ../sass/_icons.scss */
.update:hover, .btn.update:hover {
  background: url("../images/icons/icon_update.png") no-repeat top left white;
}

/* line 181, ../sass/_icons.scss */
.edit {
  display: inline;
  width: 22px;
  height: 22px;
  background: url("../images/icons/icon_edit.png") no-repeat transparent;
  overflow: hidden;
  font-size: 20px;
}
/* line 188, ../sass/_icons.scss */
.edit span {
  visibility: hidden;
}

/* line 1, ../sass/_messages.scss */
.notification {
  background: #f0f6ea url("../images/icons/notification.png") no-repeat 1em;
  border: 2px dotted #89ba5b;
  padding: 1em 2em 1em 6em;
  margin: 1em 0;
  min-height: 2em;
}
/* line 2, ../sass/_messages.scss */
.td .notification {
  display: block;
}
/* line 10, ../sass/_messages.scss */
.notification strong {
  color: #6ca932;
}

/* line 14, ../sass/_messages.scss */
.alert {
  background: #fcedeb url("../images/icons/alert.png") no-repeat 1em;
  border: 2px dotted #f3b9b1;
  padding: 1em 2em 1em 6em;
  margin: 1em 0;
  min-height: 2em;
}
/* line 15, ../sass/_messages.scss */
.td .alert {
  display: block;
}
/* line 23, ../sass/_messages.scss */
.alert strong {
  color: #e14f3c;
}

/* line 27, ../sass/_messages.scss */
.message, .no_queries {
  background: #fbfad6 url("../images/icons/message.png") no-repeat 1em;
  border: 2px dotted #ccbf9e;
  padding: 1em 2em 1em 6em;
}
/* line 28, ../sass/_messages.scss */
.td .message, .td .no_queries {
  display: block;
}
/* line 34, ../sass/_messages.scss */
.message strong, .no_queries strong {
  color: #f4a725;
}

/* line 38, ../sass/_messages.scss */
.no_queries {
  background: transparent url("../images/icons/message_24.png") no-repeat 1em;
  border: none;
  position: absolute;
  margin: 0 180px 0 0;
  padding: 1em;
  padding-left: 3em;
  font-size: 1.2em;
  right: 0;
  top: 40px;
  text-align: right;
}
/* line 50, ../sass/_messages.scss */
.no_queries .flecha {
  background: url("../images/general/flecha.png") no-repeat;
  width: 200px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  right: -80px;
}

/* line 60, ../sass/_messages.scss */
.error {
  background: #e14f3c;
  border: 1px dotted white;
  color: white;
  padding: 1em 2em;
  margin: 1em 0;
  position: relative;
}
/* line 61, ../sass/_messages.scss */
.td .error {
  display: block;
}
/* line 71, ../sass/_messages.scss */
.error.top:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 45%;
  border-width: 0 15px 25px;
  border-style: solid;
  border-color: #e14f3c transparent;
  display: block;
  width: 0;
}
/* line 84, ../sass/_messages.scss */
.error.bottom:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 45%;
  border-width: 25px 15px 0 15px;
  border-style: solid;
  border-color: #e14f3c transparent;
  display: block;
  width: 0;
}

/* line 1, ../sass/_table.scss */
.table_buttons {
  overflow: hidden;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f3f3f3;
  border: 1px solid #e6e6e6;
}
/* line 6, ../sass/_table.scss */
.table_buttons table {
  border-right: none;
  border-left: none;
}
/* line 9, ../sass/_table.scss */
.table_buttons table td:first-child {
  border-left: none;
}
/* line 13, ../sass/_table.scss */
.table_buttons .botonera {
  padding: 0;
  margin: 0.5em 1em 0.5em 0;
}
/* line 16, ../sass/_table.scss */
.table_buttons .botonera label {
  padding: 0.5em 1em 0;
}

/* line 21, ../sass/_table.scss */
table {
  width: 100%;
  margin: 0.5em 0;
  border: 1px solid #cccccc;
}
/* line 25, ../sass/_table.scss */
table th {
  background: #6ca932;
  color: white;
}
/* line 28, ../sass/_table.scss */
table th.order {
  background: url("../images/colunm_order.png") #6ca932 no-repeat right top;
  padding-right: 2em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
/* line 33, ../sass/_table.scss */
table th.order.bottom {
  background: url("../images/colunm_order.png") #333333 no-repeat right -40px;
}
/* line 36, ../sass/_table.scss */
table th.order.top {
  background: url("../images/colunm_order.png") #333333 no-repeat right -80px;
}
/* line 41, ../sass/_table.scss */
table th:last-child {
  border-right: none;
}
/* line 44, ../sass/_table.scss */
table th, table td {
  padding: .8em;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  position: relative;
  vertical-align: top;
}
/* line 50, ../sass/_table.scss */
table th.note_detail, table td.note_detail {
  border-bottom: 2px solid #f4a725;
  border-left: 2px solid #f4a725;
  border-right: 2px solid #f4a725;
  background: #f4a725;
  float: none;
  padding: 1em;
}
/* line 51, ../sass/_table.scss */
table th.note_detail:hover, table td.note_detail:hover {
  color: #333333;
}
/* line 60, ../sass/_table.scss */
table th.note_detail div, table td.note_detail div {
  position: relative;
  background: white;
  padding: 1em;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 5px #b3b3b3;
  -moz-box-shadow: 2px 2px 5px #b3b3b3;
  box-shadow: 2px 2px 5px #b3b3b3;
}
/* line 65, ../sass/_table.scss */
table th.note_detail div:after, table td.note_detail div:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 105px;
  border-width: 0 15px 25px;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
}
/* line 77, ../sass/_table.scss */
table th.note_detail div li, table td.note_detail div li {
  border-bottom: 2px dotted #cccccc;
  margin-bottom: 1em;
}
/* line 81, ../sass/_table.scss */
table th.note_detail div li:last-child, table td.note_detail div li:last-child {
  border: none;
  margin-bottom: 0;
}
/* line 88, ../sass/_table.scss */
table tr {
  background: white;
}
/* line 90, ../sass/_table.scss */
table tr:nth-child(2n+1) {
  background: #e6e6e6;
}
/* line 93, ../sass/_table.scss */
table tr.active {
  background: #f4a725;
  border-top: 2px solid #f4a725;
  border-left: 2px solid #f4a725;
  border-right: 2px solid #f4a725;
}
/* line 100, ../sass/_table.scss */
table div {
  position: relative;
}
/* line 104, ../sass/_table.scss */
table tr.showdetail.open {
  background: #b3b3b3;
  border: 1px solid #b3b3b3;
}
/* line 107, ../sass/_table.scss */
table tr.showdetail.open td {
  border: 1px solid #b3b3b3;
}
/* line 110, ../sass/_table.scss */
table tr.showdetail.open:hover {
  background: #b3b3b3;
  color: #333333;
}
/* line 115, ../sass/_table.scss */
table tr.detail {
  background: #b3b3b3;
}
/* line 117, ../sass/_table.scss */
table tr.detail td {
  border: 1px solid #b3b3b3;
}
/* line 120, ../sass/_table.scss */
table tr.detail ul {
  padding: 1%;
  background: white;
  overflow: hidden;
}
/* line 124, ../sass/_table.scss */
table tr.detail ul li {
  float: left;
  width: 32%;
  margin-right: 1%;
  padding: 0.5em 0;
  border-bottom: 1px solid #b3b3b3;
}
/* line 130, ../sass/_table.scss */
table tr.detail ul li strong {
  width: 30%;
  display: block;
  float: left;
  text-align: right;
  margin-right: 1em;
}
/* line 138, ../sass/_table.scss */
table tr.detail ul:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 45px;
  border-width: 0 15px 25px;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
}
/* line 150, ../sass/_table.scss */
table tr.detail:hover {
  background: #b3b3b3;
  color: inherit;
}
/* line 155, ../sass/_table.scss */
table.query-form {
  border: 1px solid white;
  margin-bottom: 2em;
}
/* line 158, ../sass/_table.scss */
table.query-form tr {
  border: 1px solid white;
  border-bottom: 2px dotted #e6e6e6;
  background: white;
}
/* line 162, ../sass/_table.scss */
table.query-form tr:hover {
  cursor: inherit;
  border: 1px solid white;
  border-bottom: 2px dotted #e6e6e6;
}
/* line 167, ../sass/_table.scss */
table.query-form tr:nth-child(2n+1) {
  background: white;
}
/* line 171, ../sass/_table.scss */
table.query-form td:first-child {
  width: 30%;
}
/* line 174, ../sass/_table.scss */
table.query-form td:nth-child(2) {
  width: 3em;
}
/* line 177, ../sass/_table.scss */
table.query-form th {
  border: 1px solid white;
  border-bottom: 2px solid #e6e6e6;
  color: #6ca932;
  background: #f0f6ea;
}
/* line 182, ../sass/_table.scss */
table.query-form th:hover {
  cursor: inherit;
  border: 1px solid white;
  border-bottom: 2px solid #e6e6e6;
}
/* line 188, ../sass/_table.scss */
table.query-form td {
  background: white;
  border: 1px solid white;
}
/* line 191, ../sass/_table.scss */
table.query-form td:hover {
  background: white;
  border: 1px solid white;
}
/* line 195, ../sass/_table.scss */
table.query-form td.btn_add {
  border: 1px solid white;
}
/* line 198, ../sass/_table.scss */
table.query-form td.btn_add .btn {
  float: right;
}
/* line 204, ../sass/_table.scss */
table.link tr {
  cursor: pointer;
}
/* line 206, ../sass/_table.scss */
table.link tr:hover {
  background: #cccccc;
  color: white;
  border: 1px solid white;
}

/* line 9, ../sass/colorbox.scss */
.colorbox_box {
  background: white;
  color: #333333;
  font-family: Arial, Sans-Serif;
  font-size: .8em;
  padding: 2em;
}
/* line 15, ../sass/colorbox.scss */
.colorbox_box h1, .colorbox_box h2 {
  font-size: 2.2em;
  color: #6ca932;
  margin-bottom: 1em;
  font-weight: normal;
}
/* line 21, ../sass/colorbox.scss */
.colorbox_box h2 {
  font-size: 2em;
}
/* line 25, ../sass/colorbox.scss */
.colorbox_box p {
  margin: 0.5em 0;
  line-height: 1.5em;
}
/* line 29, ../sass/colorbox.scss */
.colorbox_box a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #6ca932;
  text-decoration: none;
}
/* line 34, ../sass/colorbox.scss */
.colorbox_box .botonera {
  border-top: 1px solid #b3b3b3;
  padding: 1em 0 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
}
/* line 42, ../sass/colorbox.scss */
.colorbox_box .botonera ul {
  margin-right: 2em;
}
/* line 45, ../sass/colorbox.scss */
.colorbox_box .botonera li {
  float: right;
  margin-left: .5em;
}
/* line 48, ../sass/colorbox.scss */
.colorbox_box .botonera li a {
  margin: 0;
}
