/* line 4, ../sass/ncr_fullcalendar.scss */
.fc-view table tr:nth-child(2n+1) {
  background-color: white;
}

/* line 7, ../sass/ncr_fullcalendar.scss */
.fc-border-separate {
  border: none;
  border-right: 1px solid #b3b3b3;
}

/* line 11, ../sass/ncr_fullcalendar.scss */
.fc-header, .fc-header td {
  background-color: white;
  border: none;
}

/* line 15, ../sass/ncr_fullcalendar.scss */
.fc-widget-header, .fc-widget-content {
  border: 1px solid #b3b3b3;
}

/* line 18, ../sass/ncr_fullcalendar.scss */
.fc-border-separate th, .fc-agenda-slots th {
  padding: .5em;
  background-color: #e6e6e6;
  color: black;
}

/* line 23, ../sass/ncr_fullcalendar.scss */
.fc-event {
  padding: .5em;
  border: 1px solid #cccccc;
}
/* line 26, ../sass/ncr_fullcalendar.scss */
.fc-event.fc-event-end {
  border-left: none;
}
/* line 29, ../sass/ncr_fullcalendar.scss */
.fc-event.fc-event-start {
  border-right: none;
}
/* line 32, ../sass/ncr_fullcalendar.scss */
.fc-event.fc-event-end.fc-event-start {
  border: 1px solid #cccccc;
}
/* line 35, ../sass/ncr_fullcalendar.scss */
.fc-event.monthly {
  background-color: #4d99f2;
}
/* line 38, ../sass/ncr_fullcalendar.scss */
.fc-event.weekly {
  background-color: #f4a725;
}
