/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1,
.colorbox_box h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_forms.scss */
.btn {
  border: 1px solid #cccccc;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #6ca932;
  font-weight: normal;
  font-size: 1em;
  background: white;
  float: left;
  margin-right: 1em;
  padding: 0.5em 1em;
  display: block;
  cursor: pointer;
}
/* line 13, ../sass/_forms.scss */
.btn:hover {
  text-decoration: none;
  background: #6ca932;
  color: white;
}
/* line 18, ../sass/_forms.scss */
.row .btn {
  float: none;
  display: inline;
  margin: 0;
  margin-left: 1em;
}
/* line 24, ../sass/_forms.scss */
.btn.cancel {
  background: #e14f3c;
  color: white;
}
/* line 27, ../sass/_forms.scss */
.btn.cancel:hover {
  text-decoration: none;
  background: #333333;
  color: white;
}

/* line 34, ../sass/_forms.scss */
input, select, area, label {
  font-size: 1em;
  padding: 0.5em 1em;
  vertical-align: middle;
}

/* line 39, ../sass/_forms.scss */
select {
  margin: 0.5em 1em;
}

/* line 42, ../sass/_forms.scss */
label {
  display: block;
  float: left;
  text-align: right;
  padding: .8em;
}
/* line 47, ../sass/_forms.scss */
.colorbox_box label {
  width: 25%;
}

/* line 51, ../sass/_forms.scss */
.row {
  margin: 1em 0;
  padding: 1em 0 0 0;
  border-top: 1px solid #cccccc;
  overflow: hidden;
}
/* line 56, ../sass/_forms.scss */
.row .left {
  float: left;
}
/* line 59, ../sass/_forms.scss */
.row .right {
  float: right;
}
/* line 62, ../sass/_forms.scss */
.colorbox_box .row input[type="text"], .row area {
  width: 70%;
}
/* line 65, ../sass/_forms.scss */
.row li {
  float: left;
  width: auto;
  white-space: nowrap;
}
/* line 69, ../sass/_forms.scss */
.row li label {
  width: auto;
}

/* line 1, ../sass/_icons.scss */
.icons_bg {
  display: none;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 2px 2px 5px #b3b3b3;
  -moz-box-shadow: 2px 2px 5px #b3b3b3;
  box-shadow: 2px 2px 5px #b3b3b3;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 73px;
  height: 32px;
  z-index: 1;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 15, ../sass/_icons.scss */
.close {
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: url("../images/close.png") no-repeat;
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  z-index: 2;
  cursor: pointer;
}
/* line 26, ../sass/_icons.scss */
.close span {
  position: absolute;
  top: 2em;
}

/* line 31, ../sass/_icons.scss */
.icons_menu {
  position: absolute;
  top: 8px;
  right: 30px;
  width: 35px;
  height: 20px;
  z-index: 2;
}
/* line 38, ../sass/_icons.scss */
.icons_menu ul {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 2em;
}
/* line 45, ../sass/_icons.scss */
.icons_menu ul a {
  display: block;
  color: white;
  padding: 0.5em 1em;
  border-bottom: 1px solid #cccccc;
  background: #6ca932;
  -webkit-box-shadow: 2px 2px 5px #b3b3b3;
  -moz-box-shadow: 2px 2px 5px #b3b3b3;
  box-shadow: 2px 2px 5px #b3b3b3;
}
/* line 52, ../sass/_icons.scss */
.icons_menu ul a:hover {
  text-decoration: none;
  background: #b3b3b3;
}
/* line 57, ../sass/_icons.scss */
.icons_menu ul li:last-child a {
  border: none;
}

/* line 62, ../sass/_icons.scss */
.icon16 {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
/* line 69, ../sass/_icons.scss */
.icon16 span {
  position: absolute;
  top: -40px;
}
/* line 73, ../sass/_icons.scss */
.icon16.config {
  background: url("../images/icons/icons.png") no-repeat 0 -20px;
  cursor: pointer;
}
/* line 77, ../sass/_icons.scss */
.icon16.config.hide {
  background: url("../images/icons/icons.png") no-repeat 0 0;
}
/* line 79, ../sass/_icons.scss */
.icon16.config.hide:hover {
  background: url("../images/icons/icons.png") no-repeat 0 0;
}

/* line 84, ../sass/_icons.scss */
.add {
  background: url("../images/icons/icon_add.png") no-repeat right top white;
  padding-right: 40px;
}
/* line 87, ../sass/_icons.scss */
.add:hover {
  background: url("../images/icons/icon_add.png") no-repeat right bottom #6ca932;
}

/* line 91, ../sass/_icons.scss */
.info {
  width: 25px;
  height: 25px;
  background: url("../images/icons/icon_info.png") no-repeat top right;
  padding-right: 2em;
  overflow: hidden;
  position: relative;
  display: inline;
  cursor: pointer;
  cursor: help;
}
/* line 101, ../sass/_icons.scss */
.info:hover {
  background: url("../images/icons/icon_info.png") no-repeat bottom right;
}
/* line 104, ../sass/_icons.scss */
.info span {
  display: block;
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

/* line 112, ../sass/_icons.scss */
.icons_action {
  position: absolute;
  top: .5em;
  right: 0;
  white-space: nowrap;
}
/* line 117, ../sass/_icons.scss */
.icons_action .note, .icons_action .edit, .icons_action .delete {
  background: url("../images/icons/icon_note.png") no-repeat;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: block;
  cursor: help;
  margin-right: 2px;
  float: left;
}
/* line 126, ../sass/_icons.scss */
.icons_action .note span, .icons_action .edit span, .icons_action .delete span {
  display: block;
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}
/* line 133, ../sass/_icons.scss */
.icons_action .note:hover, .icons_action .edit:hover, .icons_action .delete:hover {
  background-position-y: -20px;
}
/* line 137, ../sass/_icons.scss */
.icons_action .edit {
  background-position: -40px 0;
  cursor: pointer;
}
/* line 142, ../sass/_icons.scss */
.icons_action .delete {
  background-position: -20px 0;
  cursor: pointer;
}

/* line 148, ../sass/_icons.scss */
.download {
  background: url("../images/icons/icon_download.png") no-repeat top right white;
  padding-right: 40px;
}
/* line 151, ../sass/_icons.scss */
.download:hover {
  background: url("../images/icons/icon_download.png") no-repeat bottom right #6ca932;
}

/* line 1, ../sass/_messages.scss */
.notification {
  background: #f0f6ea;
  border: 1px dotted #89ba5b;
  padding: 1em 2em;
  margin: 0.5em 0;
}

/* line 7, ../sass/_messages.scss */
.error {
  background: #e14f3c;
  border: 1px dotted white;
  color: white;
  padding: 1em 2em;
  margin: 0.5em 0;
  position: relative;
}
/* line 15, ../sass/_messages.scss */
.error.top:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 45%;
  border-width: 0 15px 25px;
  border-style: solid;
  border-color: #e14f3c transparent;
  display: block;
  width: 0;
}
/* line 28, ../sass/_messages.scss */
.error.bottom:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 45%;
  border-width: 25px 15px 0 15px;
  border-style: solid;
  border-color: #e14f3c transparent;
  display: block;
  width: 0;
}

/* line 1, ../sass/_table.scss */
table {
  width: 100%;
  margin: 0.5em 0;
  border: 1px solid #cccccc;
}
/* line 5, ../sass/_table.scss */
table th {
  background: #6ca932;
  color: white;
  border-right: 1px solid white;
}
/* line 9, ../sass/_table.scss */
table th.order {
  background: url("../images/colunm_order.png") #6ca932 no-repeat right top;
  padding-right: 2em;
}
/* line 12, ../sass/_table.scss */
table th.order.bottom {
  background: url("../images/colunm_order.png") #333333 no-repeat right -40px;
}
/* line 15, ../sass/_table.scss */
table th.order.top {
  background: url("../images/colunm_order.png") #333333 no-repeat right -80px;
}
/* line 20, ../sass/_table.scss */
table th:last-child {
  border-right: none;
}
/* line 23, ../sass/_table.scss */
table th, table td {
  padding: .8em;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  position: relative;
  vertical-align: top;
}
/* line 29, ../sass/_table.scss */
table th.note_detail, table td.note_detail {
  border-bottom: 2px solid #f4a725;
  border-left: 2px solid #f4a725;
  border-right: 2px solid #f4a725;
  background: #f4a725;
  float: none;
  padding: 1em;
}
/* line 30, ../sass/_table.scss */
table th.note_detail:hover, table td.note_detail:hover {
  color: #333333;
}
/* line 39, ../sass/_table.scss */
table th.note_detail div, table td.note_detail div {
  position: relative;
  background: white;
  padding: 1em;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 5px #b3b3b3;
  -moz-box-shadow: 2px 2px 5px #b3b3b3;
  box-shadow: 2px 2px 5px #b3b3b3;
}
/* line 44, ../sass/_table.scss */
table th.note_detail div:after, table td.note_detail div:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 105px;
  border-width: 0 15px 25px;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
}
/* line 56, ../sass/_table.scss */
table th.note_detail div li, table td.note_detail div li {
  border-bottom: 2px dotted #cccccc;
  margin-bottom: 1em;
}
/* line 60, ../sass/_table.scss */
table th.note_detail div li:last-child, table td.note_detail div li:last-child {
  border: none;
  margin-bottom: 0;
}
/* line 67, ../sass/_table.scss */
table tr {
  cursor: pointer;
}
/* line 69, ../sass/_table.scss */
table tr:nth-child(2n+1) {
  background: #e6e6e6;
}
/* line 72, ../sass/_table.scss */
table tr:hover {
  background: #cccccc;
  color: white;
  border: 1px solid white;
}
/* line 77, ../sass/_table.scss */
table tr.active {
  background: #f4a725;
  border-top: 2px solid #f4a725;
  border-left: 2px solid #f4a725;
  border-right: 2px solid #f4a725;
}
/* line 84, ../sass/_table.scss */
table .editable {
  padding-right: 4em;
}

/* line 9, ../sass/colorbox.scss */
.colorbox_box {
  background: white;
  color: #333333;
  font-family: Arial, Sans-Serif;
  font-size: .8em;
  padding: 2em;
}
/* line 15, ../sass/colorbox.scss */
.colorbox_box h1, .colorbox_box h2 {
  font-size: 2.2em;
  color: #6ca932;
  margin-bottom: 1em;
  font-weight: normal;
}
/* line 21, ../sass/colorbox.scss */
.colorbox_box h2 {
  font-size: 2em;
}
/* line 25, ../sass/colorbox.scss */
.colorbox_box p {
  margin: 0.5em 0;
  line-height: 1.5em;
}
/* line 29, ../sass/colorbox.scss */
.colorbox_box a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #6ca932;
  text-decoration: none;
}
/* line 34, ../sass/colorbox.scss */
.colorbox_box .botonera {
  border-top: 1px solid #b3b3b3;
  padding: 1em 0 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
}
/* line 42, ../sass/colorbox.scss */
.colorbox_box .botonera ul {
  margin-right: 2em;
}
/* line 45, ../sass/colorbox.scss */
.colorbox_box .botonera li {
  float: right;
  margin-left: .5em;
}
/* line 48, ../sass/colorbox.scss */
.colorbox_box .botonera li a {
  margin: 0;
}
